.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__leftbox
        username
      .side-bar__header__box__rightbox
        = icon('far', 'edit')
        = icon('fas', 'cog')
  .side-bar__main
    .side-bar__main__group
      .side-bar__main__group__groupname
        groupname
      .side-bar__main__group__lastmessage
        no messages